@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

* {
    box-sizing: border-box ;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans' ;
}
.App {
    width : 100vw ;
}
.header {
    width: 100% ;
    height: 8.5vh;
    padding: 1vh 2.5vw ;
    background-color: #222323 ;
    color: #fff;
    display: flex ;
    flex-direction: row;
    justify-content: space-between;
}
.header section {
    width: 30%;
    display: flex ;
}
.header section p {
    width: 65%;
    margin-left: 1vw;
    padding-top: 0.5vh ;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    font-family:  'Open Sans', Calibri, Candara, Arial, sans-serif;
    /* border: 1px solid #fff; */
}

.header nav {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header nav a {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    font-family:  'Poppins';

}
a:link {
    text-decoration: none;
}

.heading {
    width: 90vw;
    height: 15vh;
    /* border: 1px solid black; */
    margin: 3vh auto;
    text-align: left;
}
.welcome {
    padding: 1vh 2vw ;
    border-bottom: 1px solid black ;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 26px ;
    line-height: 1.2 ;
    /* margin-bottom: 2vh; */
}
.upload {
    padding: 2vh 3vw ;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
}

.form {
    width: 80vw ;
    margin: 0 auto ;
    padding: 6vh 8vh ;
    border: 1px solid black;
    text-align: left;
    font-size: 18px ;
    font-family: 'Open Sans';
    font-weight: 200;
}
.form1 > *, .form2 > * {
    margin-bottom: 2vh ;
}
.form2 {
    margin-top: 5vh ;
}
.form1 label, .form2 label {
    display: inline-block;
    min-width: 25%;
    /* border: springgreen 1px solid; */
    /* margin-right: 1vw; */
}
.form1 input, .form2 input {
    display: inline-block;
    font-family: 'Poppins';
    font-size: 16px;
    width: 75%;
    height: 30px;
    padding: 0 1vw;
}

.noMembers select {
    width: 3vw;
    height:25px ;
    padding: 0 0.2vw;
}
.name, .usn {
    max-width: 25%;
}
input[type='radio'] {
    max-width: 5%;
    height: 2vh;
}

.generateId {
    padding: 1.2vh 1.5vw;
    border-radius:25px;
    font-size: 16px;
    margin: 2vh 40%;
    background-color: #000;
    color: #fff;
    border: none;
    font-family: 'Open Sans';
    cursor: pointer;
}

.submit {
    padding: 1.5vh 4vw;
    margin: 8vh 0 0 40%;
    background: #0686e9;
    border-radius:25px;
    color: white;
    font-family: 'Open Sans';
    font-size: 18px;
    border: none;
    cursor: pointer;
}

footer {
    width: 100%;
    height: 10vh;
    padding: 1vh 2.5vw ;
    margin-top: 10vh;
    background-color: #037FFF; ;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    font-size: 14px;
}

.search {
    height: 71.5vh;
    padding: 15vh 0;
}
.search h2 {
    font-family: 'Poppins';
    font-size: 40px ;
    font-weight: 300;
}

.searchBar {
    margin-top: 10vh ;
    width: 50vw ;
    padding: 1vh 1vw;
    font-family: 'Open Sans';
    font-size: 16px;
}
.radioBtns {
    width: 35vw;
    font-family: 'Open Sans';
    margin: 0 auto;
    margin-top: 5vh ;
    font-size: 18px ;
    display: flex ;
    justify-content: space-between;
    align-items: center;
}

.facultyLogin {
    /* border: #000 1px solid; */
    width: 90vw;
    height: 47.5vh ;
    margin: 3vh auto;
    display: flex ;
    justify-content: space-around;
}
.login {
    width: 40%;
    height: 75%;
    padding: 2vh 3vw ;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center ;
    border-right: 1px solid black;
}
.loginNote {
    width: 40%;
    padding: 2vh 2vw ;
    font-size: 16px;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

